# Aplicación
/app/Config/core.php
/app/Config/database.php
/app/Test
/app/tmp
/app/webroot/dist
/plugins
/vendors

# Composer
/app/Vendor

# NodeJS
node_modules
jspm_packages
build/Release
.npm
.node_repl_history
npm-debug.log*

# Editores
.idea
/*.sublime-project
/*.sublime-workspace
/nbproject

# Varios
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
