.page-title {
  float: none;
  margin: auto;
}

h3 {
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: 30px;
  padding-bottom: 3px;
  padding-left: 0.1em
}

form div {
  clear: none;
  margin-bottom: 0;
  padding: 0;
}

.form-horizontal .form-group:last-child {
  margin-top: 23px;
}

.form-horizontal .form-group a {
  margin-right: 5px;
}

.form-group .col-sm-8 {
  padding: 0;
  margin-left: 15px;
}

.has-error div.error {
  padding: 7px 0 7px 4px;
}

input.form-control, textarea.form-control {
  padding-right: 31px;
}

select.form-control {
  width: 250px;
  max-width: 100%;
  font-weight: normal;
}

/* Elimino las flechas de la derecha en los 'number' en Firefox. */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Elimino las flechas de la derecha en los 'number' en Chrome. */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: textfield;
}

@media (max-width: 767px) {
  select.form-control {
    width: 100%;
  }
}
