/* index.ctp */
.btn-add {
  min-width: 147px;
}

th a {
  padding-left: 0px;
}

p.paginator {
  font-weight: bold;
}

.modal {
  top: 128px;
}

.modal-body {
  padding-top: 20px;
  padding-bottom: 20px;
}
