html {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
}

#navbar-brand {
  padding-left: 10px;
  padding-right: 27px;
  margin-left: 0;
  float: none;
}

#navbar-brand .logo {
  height: 50px;
  padding: 10px 5px 10px 0;
  display: inline;
  transition: all 1s ease;
}

#navbar-brand:hover .logo {
  padding-bottom: 7px;
  padding-top: 7px;
}

#navbar-brand span {
  position: relative;
  top: 1px;
}

#dropdown-menu a {
  padding: 3px 0;
}

#dropdown-menu a .glyphicon {
  padding: 0 7px 0 5px;
  position: relative;
  top: 2px;
}

body {
  margin-bottom: 60px;
}

div.submit {
  float: left;
}

a.desactivado {
  color: gray;
  pointer-events: none;
  cursor: default;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

footer .row {
  text-align: right;
  margin: 0;
  height: auto;
  padding: 7px 20px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
