html {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
}

header .container-fluid .navbar-header .navbar-brand {
  padding-left: 10px;
  padding-right: 27px;
  margin-left: 0;
  float: none;
}

header .container-fluid .navbar-brand .logo {
  height: 50px;
  padding: 10px 5px 10px 0;
  display: inline;
}

header .container-fluid .navbar-brand span {
  position: relative;
  top: 1px;
}

header .dropdown-menu a {
  padding: 3px 0px;
}

header .dropdown-menu a .glyphicon {
  padding: 0px 7px 0px 5px;
  position: relative;
  top: 2px;
}

body {
  margin-bottom: 60px;
}

.page-title h2 {
  float: left;
}

.page-title .buttons {
  float: right;
}

div.submit {
  float: left;
}

a.desactivado {
  color: gray;
  pointer-events: none;
  cursor: default;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

footer div.row {
  margin: 0px;
}

footer p {
  text-align: right;
  margin: 0px;
  height: auto;
  padding: 7px 20px;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
