html {
  position: relative;
  min-height: 100%;
  padding-top: 70px;
}

header .dropdown-menu a {
  padding: 3px 0px;
}

header .dropdown-menu .glyphicon {
  margin: 0px 7px 0px 5px;
}

body {
  margin-bottom: 60px;
}

.page-title h2 {
  float: left;
}

.page-title .buttons {
  float: right;
}

.input-group {
  width: 100%;
}

div.submit {
  float: left;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

footer div.row {
  margin: 0px;
}

footer p {
  text-align: right;
  margin: 0px;
  height: auto;
  padding: 7px 20px;
}

/* index.ctp */
.btn-add {
  min-width: 147px;
}
