table.table .tx-orden {
  width: 7%;
}

table.table .tx-tipo {
  width: 10%;
}

table.table .tx-visible {
  width: 16%;
}

table.table .tx-activo {
  width: 7%;
  padding-left: 2%;
}

table.table .tx-actions {
  width: 10%;
}
