#content > .row {
  width: 100%;
  margin: 0px auto;
}

#btn-regenerar {
  margin-bottom: 15px;
  padding-right: .5em;
}

fieldset legend {
  color: #000;
}

h2 {
  margin-bottom: 20px;
}

h2 a {
  font-weight: 500;
}

.form-group {
  margin: 0px;
  width: auto;
}

.form-group legend {
  margin-bottom: 10px;
  font-weight: initial;
}

.form-group .alert {
  margin: 10px 0px;
}

.form-group div.input {
  padding: 0;
  margin-bottom: 0;
}

form.form-group {
 margin-bottom: 15px;
}

/* Según el tipo de pregunta */
textarea.form-control {
  min-height: 100px;
  width: 100%;
}

.select {
  margin-left: 3%;
}

div.checkbox, div.radio {
  margin: 0px;
}

div.checkbox label, div.radio label {
  padding-left: 0px;
}

input.number, input.daterange {
  width: 17vw;
}

span.glyphicon-calendar {
  position: absolute;
  bottom: 24px;
  left: 16vw;
  top: auto;
  cursor: pointer;
  z-index: 10;
}

/* Mensajes de error */
.has-error::after {
  position: absolute;
  bottom: 14px;
  left: calc(17.7vw + 15.8px);
  background: #d43f3a;
  padding: 7px 14px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.4s linear;
  opacity: 0;
}

.has-error::before {
  content: '';
  position: absolute;
  bottom: 24px;
  left: 17.7vw;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: #d43f3a;
  transition: all 0.4s linear;
  opacity: 0;
}

.has-error.input-date::after {
  content: 'Ingrese una fecha válida';
}

.has-error.input-number::after {
  content: 'Ingrese un número válido';
}

.has-error[class*='input-']:hover::after,
.has-error[class*='input-']:hover::before {
  opacity: 1;
}

/* Glyphicons */
span.glyphicon {
  pointer-events: auto;
}

span.glyphicon-circle-arrow-up {
  color: #87cefa;
}

span.glyphicon-ok {
  color: #3C763D;
}

span.glyphicon-remove {
  color: #A94442;
}

@media (max-width: 991px) {
  input.number, input.daterange {
    width: 22vw;
  }

  span.glyphicon-calendar {
    left: 21vw;
  }

  .has-error::after {
    left: calc(23vw + 15.8px);
  }

  .has-error::before {
    left: 23vw;
  }
}

/* Responsive design */
@media (max-width: 767px) {
  input.number, input.daterange {
    width: 100%;
  }

  span.glyphicon-calendar {
    display: none;
  }

  .has-error[class*='input-']:hover::after,
  .has-error[class*='input-']:hover::before {
    opacity: 0;
  }
}
