#content > .row {
  width: 100%;
  margin: 0px auto;
}

#btn-regenerar {
  margin-bottom: 15px;
  padding-right: .5em;
}

fieldset legend {
  color: #000;
}

h2 {
  margin-bottom: 20px;
}

h2 a {
  font-weight: 500;
}

.form-group {
  margin: 0px;
  width: auto;
}

.form-group legend {
  margin-bottom: 10px;
  font-weight: initial;
}

.form-group .alert {
  margin: 10px 0px;
}

.form-group div.input {
  padding: 0;
  margin-bottom: 0;
}

form.form-group {
 margin-bottom: 15px;
}

/* Según el tipo de pregunta */
textarea.form-control {
  height: 100px;
  width: 100%;
}

.select {
  margin-left: 3%;
}

div.checkbox, div.radio {
  margin: 0px;
}

div.checkbox label, div.radio label {
  padding-left: 0px;
}

input.number, input.daterange {
  width: 17vw;
}

span.glyphicon-calendar {
  position: absolute;
  bottom: 24px;
  left: 16vw;
  top: auto;
  cursor: pointer;
  z-index: 10;
}

/* Glyphicons */
span.glyphicon {
  pointer-events: auto;
}

span.glyphicon-circle-arrow-up {
  color: #87cefa;
}

span.glyphicon-ok {
  color: #3C763D;
}

span.glyphicon-remove {
  color: #A94442;
}

@media (max-width: 991px) {
  input.number, input.daterange {
    width: 22vw;
  }

  span.glyphicon-calendar {
    left: 21vw;
  }
}

@media (max-width: 767px) {
  input.number, input.daterange {
    width: 100%;
  }

  span.glyphicon-calendar {
    display: none;
  }
}

